<h1><%= t "views.admin.product.index.all" %></h1>

<table class="table table-hover">
  <tr>
    <th><%= t "views.admin.product.index.id" %></th>
    <th><%= t "views.admin.product.index.name" %></th>
    <th><%= t "views.admin.product.index.category" %></th>
    <th><%= t "views.admin.product.index.price" %></th>
    <th><%= t "views.admin.product.index.quantity" %></th>   
    <th><%= t "views.admin.category.index.function" %></th>
  </tr>
      <%= render partial: "product", collection: @products%>
</table>

<%= link_to t("views.admin.product.index.newproductbutton"),
  new_admin_product_path, class: "btn btn-info" %>
